.prince{
    position: absolute;
    top: 25%;
    left: 10%;
    width: 250px;
    height: 250px;
    background: url('../img/frog1.png') no-repeat center / cover;
    z-index: 3;
}

#text-who-are-you{
    position: absolute;
    top: 15%;
    left: 50%;
    opacity: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #026d3b;
    font-weight: bold;
}

.frog{
    position: absolute;
    top: 65%;
    left: 40%;
    opacity: 0;
    width: 87px;
    height: 81px;
    background: url('../img/mini-frog3.png') no-repeat center / cover;
    z-index: 2;
}

#text-princess{
    position: absolute;
    top: 2%;
    left: 50%;
    opacity: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #026d3b;
    font-weight: bold;
}

.princess{
    position: absolute;
    top: 72%;
    left: 35%;
    opacity: 0;
    width: 50px;
    height: 50px;
    background: url('../img/frog2.png') no-repeat center / cover;
    z-index: 1;
}

.rotate {
    -webkit-animation:spin 2s ease-in-out;
     -moz-animation:spin 2s ease-in-out;
     animation:spin 2s ease-in-out;
 }
 @-moz-keyframes spin {
     100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
 }
 @-webkit-keyframes spin {
     100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
 }
 @keyframes spin { 
     100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
 }
