body{
    display: flex;
    flex-flow: column nowrap;
    width: 96%;
    max-width: 920px;
    min-height:  100vh;
    margin: auto;
    background: #727fa2;
}

p, li, a {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 16px;
	line-height: 1.75;
    margin: 0;
    padding: 0;
}

#id{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-decoration: underline;
}

#lat{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: italic;
}

.header{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}

.top-logos{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 20px;
}

.top-logos img{
    width: 100%;
    height: auto;
}

.navbar{
    display:flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: #333;
    width: 100%;
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    font-size: 14px;
    padding: 14px 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover{
    color: #000;
    background-color: #ddd;
}

content{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-content: center;
    gap: 20px;
    padding: 2%;
    background-color: #fff;
}

content p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: normal;
}

.class1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: normal;
    background-color: orange;
}
.class2{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: normal;
    background-color: whitesmoke;
}
.footer{
    bottom: 0;
    max-width: 920px;
    padding: 14px;
    text-align: center;
    color: #fff;
    background-color: #333;
}

.footer p{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* task-2 page */

#topBlock{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 10px;
    height: 80px;
    padding: 5px;
    border: 1px solid #000;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}

#bottomBlock{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 1% 1%;
    height: 100%;
}

#leftBlock{
    display: flex;
    flex-flow: column wrap;
    order: 1;
    align-content: center;
    gap: 5px;
    padding: 5px;
    min-width: 15%;
    max-width: 25%;
    border: 1px solid #000;
    overflow: auto;
}

#rightBlock{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
    order: 2;
    min-width: 80%;
    min-height: 80%;
    padding: 10px;
    padding-bottom: 2%;
    border: 1px solid #000;
}

#messageBlock{
    min-width: 200px;
    min-height: 100px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: auto;
    padding: 5%;
    background-color: rgb(212, 212, 212);
    border: 1px solid #000;
    border-radius: 5px;
}