table, th, td{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
}

table{
    width: 100%;
}

thead{
    font-style: normal;
    font-weight: 400;
	font-size: 16px;
	line-height: 1.75;
    background-color: #333;
    color: #fff;
}

td{
    font-style: normal;
    font-weight: 200;
	font-size: 12px;
	line-height: 1.75;
}

#wrapperUtterancesTable{
    /* Высота до появления полосы прокрутки. */
    height:200px;
    overflow: auto;
}

/* Четные */
#wrapperUtterancesTable tr:nth-child(2n) td{
    background-color: rgb(245, 245, 245);
}

/* Нечетные */
#wrapperUtterancesTable tr:nth-child(2n+1) td{
    background-color: rgb(202, 202, 202);
}